* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-eng-lvs.en.acx -text
/apertium-eng-lvs.en.metadix -text
/apertium-eng-lvs.en.tsx -text
/apertium-eng-lvs.eng-lvs.dix -text
/apertium-eng-lvs.eng-lvs.t1x -text
/apertium-eng-lvs.eng-lvs.t2x -text
/apertium-eng-lvs.eng-lvs.t3x -text
/apertium-eng-lvs.lv.acx -text
/apertium-eng-lvs.lv.dix -text
/apertium-eng-lvs.lv.tsx -text
/apertium-eng-lvs.lvs-eng.t1x -text
/apertium-eng-lvs.lvs-eng.t2x -text
/apertium-eng-lvs.lvs-eng.t3x -text
/apertium-eng-lvs.post-en.dix -text
/apertium-eng-lvs.post-lv.dix -text
/autogen.sh -text
/buscaPar.xsl -text
/configure.ac -text
dev/find-equals-output -text
dev/find-equals.pl -text
dev/fixer.pl -text
dev/nouns.chopped.dix -text
dev/nouns.sorted.speling -text
dev/np-top.speling -text
dev/proper-nouns.speling -text
dev/table-dump.pl -text
dev/verb-table-to-speling.pl -text
dev/verbs.chopped.dix -text
dev/verbs.dix -text
dev/wikilist -text
/eng-lvs.prob -text svneol=unset#unset
/lvs-eng.prob -text
/modes.xml -text
/principal.xsl -text
